@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background: #f4f6fb;
  color: #14171f;
}

::selection {
  background: #b8d1ff;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #cdd7ee;
  border-radius: 8px;
}
